In [1]:
import pandas as pd
import pickle

from tensorflow.keras.models import  load_model

In [2]:
model = load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [18]:
# load scaler, one_hot_encoder_geo, label_encoder_gender

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('one_hot_encoder_geo.pkl', 'rb') as f:
    one_hot_encoder_geo = pickle.load(f)

with open('label_coder_gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)

In [25]:
label_encoder_gender.classes_

'Female'

In [9]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [6]:
# onehot encoding geography data

geo_encoded = one_hot_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

d:\ved_glory\Churn-Modeling-Classifications\churnModelingClassification_env\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [10]:
input_data = pd.DataFrame([input_data])
input_data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [11]:
input_data = pd.concat([input_data.drop(['Geography'], axis=1), geo_encoded_df], axis=1)
input_data

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [12]:
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [13]:
input_data = scaler.transform(input_data)
input_data

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [14]:
pred = model.predict(input_data)
pred

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 139ms/step

array([[0.0402348]], dtype=float32)

In [15]:
if pred[0][0] > 0.5:
    print("customer is likely to churn")
else:
    print("customer is npt Like to churn")

customer is npt Like to churn