In [1]:
import pandas as pd
import pickle
import tensorflow as tf
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import  train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head(3)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [5]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [6]:
# one hot encoding of geography
one_hot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
onehot_encoded = one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
onehot_encoded_df = pd.DataFrame(onehot_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
onehot_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
data = pd.concat([data.drop('Geography', axis=1), onehot_encoded_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [8]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [11]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [14]:
# ANN Regression Problem Statement

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # OUTPUT Layer For Regression
])

In [15]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [19]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from datetime import datetime

log_dir = 'Regression_log/fit/' + datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback = TensorBoard(log_dir=log_dir)

In [20]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [21]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, callbacks=[tensorboard_callback, early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 101413.4766 - mae: 101413.4766 - val_loss: 98430.8906 - val_mae: 98430.8906
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100395.6797 - mae: 100395.6797 - val_loss: 96395.5156 - val_mae: 96395.5156
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97178.3359 - mae: 97178.3359 - val_loss: 91342.2422 - val_mae: 91342.2422
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 91046.2344 - mae: 91046.2344 - val_loss: 83309.2969 - val_mae: 83309.2969
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 82725.2500 - mae: 82725.2500 - val_loss: 73535.4609 - val_mae: 73535.4609
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 72705.2422 - mae: 72705.2422 - val_loss: 64331.0195 - val_mae: 64331.0195
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 62856.8281 - mae: 62856.8281 - val_loss: 57315.9609 - val_mae: 57315.9609
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 57262.1523 - mae: 57262.1523 - val_loss: 53321.6367 - val_mae: 53321.6367
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 53295.0352 - mae: 53295.0352 - val_loss: 51576.3477 - val_mae: 51576.3477
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51259.0312 - mae: 51259.0312 - val_loss: 51032.1055 - val_mae: 51032.1055
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50648.2773 - mae: 50648.2773 - val_loss: 50864.5391 - val_mae: 50864.5391
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50731.8320 - mae: 50731.8320 - val_loss: 50781.3398 - val_mae: 50781.3398
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50304.3672 - mae: 50304.3672 - val_loss: 50727.4609 - val_mae: 50727.4609
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50180.9883 - mae: 50180.9883 - val_loss: 50681.1797 - val_mae: 50681.1797
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50235.9531 - mae: 50235.9531 - val_loss: 50619.9688 - val_mae: 50619.9688
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50282.4805 - mae: 50282.4805 - val_loss: 50585.6250 - val_mae: 50585.6250
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49653.3359 - mae: 49653.3359 - val_loss: 50542.8750 - val_mae: 50542.8750
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49738.2031 - mae: 49738.2031 - val_loss: 50520.1875 - val_mae: 50520.1875
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49720.3750 - mae: 49720.3750 - val_loss: 50493.3281 - val_mae: 50493.3281
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49907.6914 - mae: 49907.6914 - val_loss: 50465.7617 - val_mae: 50465.7617
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49468.0547 - mae: 49468.0547 - val_loss: 50448.9805 - val_mae: 50448.9805
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49983.1562 - mae: 49983.1562 - val_loss: 50438.6094 - val_mae: 50438.6094
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49160.3750 - mae: 49160.3750 - val_loss: 50426.8867 - val_mae: 50426.8867
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49582.9961 - mae: 49582.9961 - val_loss: 50411.6797 - val_mae: 50411.6797
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49792.3750 - mae: 49792.3750 - val_loss: 50414.2617 - val_mae: 50414.2617
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50140.6992 - mae: 50140.6992 - val_loss: 50391.5781 - val_mae: 50391.5781
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48793.1680 - mae: 48793.1680 - val_loss: 50378.9375 - val_mae: 50378.9375
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49471.8984 - mae: 49471.8984 - val_loss: 50363.5625 - val_mae: 50363.5625
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49061.7734 - mae: 49061.7734 - val_loss: 50358.4648 - val_mae: 50358.4648
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49771.6133 - mae: 49771.6133 - val_loss: 50352.3086 - val_mae: 50352.3086
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49440.0195 - mae: 49440.0195 - val_loss: 50352.5469 - val_mae: 50352.5469
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49832.8047 - mae: 49832.8047 - val_loss: 50337.7773 - val_mae: 50337.7773
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49590.3086 - mae: 49590.3086 - val_loss: 50335.9219 - val_mae: 50335.9219
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49256.0664 - mae: 49256.0664 - val_loss: 50335.2031 - val_mae: 50335.2031
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49520.6406 - mae: 49520.6406 - val_loss: 50331.3398 - val_mae: 50331.3398
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49588.7969 - mae: 49588.7969 - val_loss: 50325.2305 - val_mae: 50325.2305
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49671.6250 - mae: 49671.6250 - val_loss: 50315.5234 - val_mae: 50315.5234
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49412.6641 - mae: 49412.6641 - val_loss: 50305.8320 - val_mae: 50305.8320
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49760.0430 - mae: 49760.0430 - val_loss: 50302.9453 - val_mae: 50302.9453
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49354.2031 - mae: 49354.2031 - val_loss: 50313.2227 - val_mae: 50313.2227
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49853.8789 - mae: 49853.8789 - val_loss: 50306.3633 - val_mae: 50306.3633
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49768.3633 - mae: 49768.3633 - val_loss: 50298.0898 - val_mae: 50298.0898
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48980.5039 - mae: 48980.5039 - val_loss: 50311.2695 - val_mae: 50311.2695
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49501.2031 - mae: 49501.2031 - val_loss: 50298.1875 - val_mae: 50298.1875
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49638.4844 - mae: 49638.4844 - val_loss: 50296.9102 - val_mae: 50296.9102
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49783.7383 - mae: 49783.7383 - val_loss: 50310.7031 - val_mae: 50310.7031
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49753.1836 - mae: 49753.1836 - val_loss: 50297.1641 - val_mae: 50297.1641
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49419.3984 - mae: 49419.3984 - val_loss: 50302.1680 - val_mae: 50302.1680
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49380.8281 - mae: 49380.8281 - val_loss: 50295.5508 - val_mae: 50295.5508
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49936.3477 - mae: 49936.3477 - val_loss: 50294.2070 - val_mae: 50294.2070
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49119.1250 - mae: 49119.1250 - val_loss: 50296.5586 - val_mae: 50296.5586
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49491.2930 - mae: 49491.2930 - val_loss: 50303.0742 - val_mae: 50303.0742
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49250.3281 - mae: 49250.3281 - val_loss: 50308.5273 - val_mae: 50308.5273
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49770.3281 - mae: 49770.3281 - val_loss: 50300.9648 - val_mae: 50300.9648
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49172.0234 - mae: 49172.0234 - val_loss: 50307.0391 - val_mae: 50307.0391

In [22]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir Regression_log/fit/

Reusing TensorBoard on port 6008 (pid 4984), started 0:00:13 ago. (Use '!kill 4984' to kill it.)

In [25]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : ', test_mae)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51146.7852 - mae: 51146.7852
Test MAE :  50294.20703125

In [26]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [30]:
input_data = X_test[0]
input_data = input_data.reshape(1, -1) 
model.predict(input_data)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step

array([[85818.36]], dtype=float32)